.newsletter-one {
  display: flex;
}

button.md-primary {
  padding: 8px 12px;
}
button.accent {
  background: #7F56D9;
  color: #fff;
}
button.rounded {
  border-radius: 0.5rem;
}

body {
  font-family: "Inter", sans-serif;
  background: #F9FAFB;
  display: flex;
}
