<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="feature-one">
        <div class="container">
            <div class="content">
                <div class="supportive-text">features</div>
                <div class="section-title">the only card you need</div>
                <p class="large-text">
                    sepend smarter, lower your bills, get cashback on everything you buy, 
                    and unlock <br> credit to grow your business.
                </p>
                    <div class="left">
                        <div class="features">
                            <ul class="features-list">
                                
                                <li class="feature active">
                                    <div class="feature-title">Share team inboxes</div>
                                    
                                    <p class="description">
                                        Whether you have a team of 2 or 200, our shared team inboxes keep <br>
                                        everyone on the same page and in the loop.
                                    </p>
                                    <div class="learn-more">
                                        <a href="" class="primary-list"></a>
                                        <div class="icon">
                                            <div class="learn-more-arrow"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="feature">
                                    <div class="feature-title">Share team inboxes</div>
                                    <p class="description">
                                        Whether you have a team of 2 or 200, our shared team inboxes keep <br>
                                        everyone on the same page and in the loop.
                                    </p>
                                    <div class="learn-more">
                                        <a href="" class="primary-list"></a>
                                        <div class="icon">
                                            <div class="learn-more-arrow"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="feature">
                                    <div class="feature-title">Share team inboxes</div>
                                    <p class="description">
                                        Whether you have a team of 2 or 200, our shared team inboxes keep <br>
                                        everyone on the same page and in the loop.
                                    </p>
                                    <div class="learn-more">
                                        <a href="" class="primary-list"></a>
                                        <div class="icon">
                                            <div class="learn-more-arrow"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            
                        </div>
                        </div>
                        <div class="right">
                            <div class="cards"></div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>