<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter forms</title>
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <section class="newsletter-one">
        <div class="container">
            <div class="content">
                <div class="section-title">sign up for our newsletter</div>
                <p class="large-text">be the first to know about releases and industry news and insights</p>
                <form class="newsletter-signup-one">
                    <div class="row">
                        <div class="form-group" onsubmit="onSubmitNewsletter()">
                            <input type="text" class="form-control" placeholder="Enter your email address">
                            <button class="md-button primary rounded">submit</button>
                        </div>
                    </div>
                    <p class="small-text">
                        we care about your data in our <a href="#">privacy policy</a>
                    </p>
                </form>
            </div>
        </div>
    </section>

    <section class="newsletter-two">
        <div class="container">
            <div class="content">
                <div class="section-title">sign up for our newsletter</div>
                <p class="large-text">be the first to know about releases and industry news and insights</p>
                <form class="newsletter-signup-one">
                    <div class="row">
                        <div class="form-group" onsubmit="onSubmitNewsletter()">
                            <input type="text" class="form-control" placeholder="Enter your email address">
                            <button class="md-button primary rounded">submit</button>
                        </div>
                    </div>
                    <p class="small-text">
                        we care about your data in our <a href="#">privacy policy</a>
                    </p>
                </form>
            </div>
        </div>
    </section>

    <section class="newsletter-three">
        <div class="container">
            <div class="content">
                <div class="section-title">sign up for our newsletter</div>
                <p class="large-text">be the first to know about releases and industry news and insights</p>
                <form class="newsletter-signup-one">
                    <div class="row">
                        <div class="form-group" onsubmit="onSubmitNewsletter()">
                            <input type="text" class="form-control" placeholder="Enter your email address">
                            <button class="md-button primary rounded">submit</button>
                        </div>
                    </div>
                    <p class="small-text">
                        we care about your data in our <a href="#">privacy policy</a>
                    </p>
                </form>
            </div>
        </div>
    </section>

    <section class="newsletter-four">

    </section>

    <section class="subscription-signup-one">
        <div class="container">
            <div class="content">
                <div class="left">
                    <div class="section-title">
                        join 2,000+ subscribers
                    </div>
                    <p class="large-text"></p>
                </div>
                <div class="right">
                    <form class="subscription-signup-form">
                        <div class="row">
                            <div class="form-group" onsubmit="onSubmitSubscription()">
                                <input type="text" class="form-control" placeholder="Enter your email address">
                                <button class="md-button primary rounded">subscribe</button>
                            </div>
                        </div>
                        <p class="small-text">
                            we care about your data in our <a href="#">privacy policy</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section class="newsletter-primary">
        <div class="container">
            <div class="content">
                <div class="left">
                    <div class="section-title">signup for our newsletter</div>
                    <p class="large-text">be the first to know about releases and industry news and insights</p>
                    <form class="newsletter-signup-one">
                        <div class="row">
                            <div class="form-group" onsubmit="onSubmitNewsletter()">
                                <input type="text" class="form-control" placeholder="Enter your email address">
                                <button class="md-button primary rounded">submit</button>
                            </div>
                        </div>
                        <p class="small-text">
                            we care about your data in our <a href="#">privacy policy</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>